{% extends "base.html" %}
{% block content %}

<h1>Autoriai</h1>
<p>Mūsų turimų autorių sąrašas:</p>
<ul>
    {% for author_obj in authors %}
    <li><a href="{% url 'author-one' author_obj.id %}">
        {{ author_obj.first_name }} {{ author_obj.last_name }}</a></li>
    {% endfor %}
</ul>
{% if authors.has_other_pages %}
<ul class="pagination">
{% for nr in authors.paginator.page_range %}
    {% if authors.page == nr %}
        <li class="page-item active">{{ nr }}</li>
    {% else %}
        <li class="page-item">{{ nr }}</li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}
{% endblock %}