{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Turimos knygos</h1>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}
        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>
</div>

<div class="row">
{% for book_obj in book_list %}
    <div class="col-sm-6 col-md-3 d-flex align-items-stretch">
        <div class="card mb-4 shadow">
            {% if book_obj.cover %}
                <img class="card-img-top" src="{{ book_obj.cover.url }}"/>
            {% else %}
                <img class="card-img-top" src="{% static 'img/no-image.png' %}"/>
            {% endif %}
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{ book_obj.author }}</h6>
                <p class="card-text"><a href="{% url 'book-one' book_obj.id %}">{{ book_obj.title }}</a></p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}