{% extends "base.html" %}
{% load static %}
{% block content %}

<h4> {{ book.title }}</h4>
<p class="bg-dark text-light">Autorius: <a href="{% url 'author-one' book.author.id %}">{{ book.author }}</a></p>
{% if book.cover %}
    <img src="{{ book.cover.url }}"/>
{% else %}
    <img src="{% static 'img/no-image.png' %}"/>
{% endif %}
<p><b>Aprašymas:</b> {{ book.summary }}</p>
<p><b>Žanrai:</b> {{ book.display_genres }} </p>
<hr/>
<div>
    <h5>Palikite atsiliepimą apie knygą</h5>
    <form method="post">
        {% csrf_token %}
        {{ form.content }}
        <div>
        <input type="submit" class="btn btn-outline-success btn-sm" value="Išsaugoti komentarą"/>
        </div>
    </form>
</div>
<h5>Komentarai:</h5>
{% if book.bookreview_set.all %}
    {% for review in book.bookreview_set.all %}
        <hr/>
<small><b>{{ review.reviewer }}</b> <em>{{ review.date_created }}</em></small>
        <p class="bg-light">{{ review.content }}</p>
    {% endfor %}
{% else %}
    <p>Knyga komentarų neturi...</p>
{% endif %}
<hr/>
<h5>Knygos egzemplioriai:</h5>
{% for bookinst_o in book.bookinstance_set.all %}
    <hr/>
    <p>Bus prieinama: {{ bookinst_o.due_back }}</p>
    <p>Nr: {{ bookinst_o.id }}</p>
    <p class="{% if bookinst_o.status == 'a' %} text-info
              {% elif bookinst_o.status == 'g' %} text-success
              {% elif bookinst_o.status == 'r' %} text-warning
              {% elif bookinst_o.status == 'p' %} text-muted
              {% endif %}
    ">
        <b>{{ bookinst_o.get_status_display }}</b>
    </p>

{% endfor %}
{% endblock %}