{% extends "base.html" %}
{% block content %}

<h1>Rajono biblioteka</h1>
<p>Turim {{ num_authors_t }} autorių/ius</p>
<p>Turim {{ num_books_t }} knygų/as</p>
<p>Turim {{ num_bookinstances_t }} knygų egzempliorių/ius</p>
<p>Laisvų yra {{ num_instances_available_t }} egz.</p>
<p>{{ request.user }}</p>
<p>Apsilankymų skaičius: {{ num_visits_t }}</p>
<p>Vartotojo grupės {{ user.groups.all }}</p>

{% for group in user.groups.all %}
    {% if 'moderatoriai' == group.name %}
        <p>Vartotojas priklauso moderatoriams</p>
    {% endif %}
{% endfor %}

{% endblock %}