{% extends "base.html" %}
{% block content %}

<h1>Mano paimtos knygos</h1>
<img class="rounded-circle" src="{{ user.profile.picture.url }}" width="50px" height="50px" />
{% if bookinstance_list %}
<ul>
    {% for bookinst_o in bookinstance_list %}
    <li class="{% if bookinst_o.is_overdue %} text-danger
               {% else %} text-success
               {% endif %}">
    <a href="{% url 'book-one' bookinst_o.book.id %}">
    {{ bookinst_o.id }}, {{ bookinst_o.book }} -
        {{ bookinst_o.book.author }}
    </a>
        <br>
        {{ bookinst_o.due_back }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Šiuo metu jūs neturit paėmęs knygų</p>
{% endif %}
{% endblock %}