body {
    background-color: #a1c7ab;
}

.sidebar-nav {
    list-style: none;
    margin-top: 10px;
}

.card {
    min-height: 470px;
    width: 100%;
}

.card-body{
    height: 25%;
}

.card img{
    height: 75%;
    object-fit: contain;
}